.flyer {
 display:block;
 width=100%;
 max-width:800px;
 margin: 0 auto 0 auto;
 padding:1em;
}

.strong {
 font-weight:bold;
}

.f_info {
   display:block;
   margin-bottom:1em;
}

.f_title {
 display:block;
 border:solid 3px grey;
 width:calc(100% - 6px);
 text-align:center;
 padding:1em 0 1em 0;
 font-weight:bold;
 color:red;
 margin-bottom:2em;
}

.f_i_ti{
  display:inline-block;
  width:20%;
  min-width:100px;
 font-weight:bold;
 vertical-align:top;
}

.f_i_tx{
  display:inline-block;
  width:calc(80% - 1em);
 vertical-align:top;
}

.f_g_info {
  display:inline-block;
  margin-top:2em;
  margin-bottom:1em;
}

.t_prog{
    display:block;
    width:100%;
 border: 1px black solid; 
 border-collapse: collapse;
    
}

.t_prog  td,
.t_prog  th{
 width:1%;
 border: 1px black solid; 
 padding:0.5em;
}

.m_b {
display:block; 
max-width:400px;
margin: 10px auto 0 auto;
}
.m_b_t {
display:block; 
font-weight:bold;
 margin-top:10px;
}

.m_b > a {
  display:block; 
  text-decoration:none;
  padding:5px;
  border:solid 1px black;
  margin-bottom:5px;
  color:black;
  background-color:#CCCCCC;
  border-radius:5px;
  
}

.lgout {
  display:inline-block; 
  text-decoration:none;
  padding:2px;
  border:solid 1px black;
  margin-right:5px;
  margin-top:3px;
  color:black;
  background-color:#CCCCCC;
  border-radius:5px;
  float:right;
  
}

.m_b > a:hover , .m_b > a:active, .lgout:hover, .lgout:active{
  background-color:#DDDDDD;
}


.band{
   display:block;
   
   padding:0 5px 10px 5px;
   background-color:#DDDDDD;
}

.b_closed {
   max-height:30px;
   overflow:hidden;
   padding-bottom:0px;
 }

.b_title {
    display:block;
    height:30px;
    margin-bottom:5px;
    vertical-align: top;
}

.b_i_title {
    font-weight:bold;
    display:inline-block;
    margin-top:5px;
    margin-left:10px;
    vertical-align: top;
}

.h_title {
  display:inline-block;
  margin-left:auto;
}

.wgt_tm_grp {
  display:block;
  background-color:#DDDDDD;
  margin-bottom:10px;
  padding:10px;
  text-align:right;
}

.wgt_tm_cat{
  display:block;
  
  margin-bottom:10px;
  padding:10px;
  text-align:left;
}


.card {
   margin:10px;
}

.item_action{
   display:block;
   margin:10px;
   border:solid black 1px;
   background-color:#EEEEFF;
   padding:10px;
}

.ftitle{
   display:block;
   font-weight:bold;
   margin-top:5px;
}
.label{
display:inline-block;
   min-width:120px;
}

.cprogress{
    display:inline-block;    
    border:solid 1px black;
    padding:3px;
}

.c_p_todo{
  background-color:orange;
}
.c_p_done{
  background-color:green;
}

.c_p_done:after{
  content: ' ✓';
}

.c_p_notavailable{
  color:grey;
}
.c_p_info{
}

.c_p_missed{
  background-color:red;
}

.c_p_missed:after{
  content: ' ❌';
}

.c_p_element:not(:last-child):after{
 // content: ' ✓';
}

.c_p_title{
 display:block;
}

.c_p_element {
 display:inline-block;
 border:solid 1px black;
}

.c_p_title, .c_p_element {
   
    height:2em;
    vertical-align:center;
    padding:3px;
    margin-right:4px;
    line-height: 2em; 
}

td > a, .pgeBtn, .gridButton {
  display:inline-block; 
  text-decoration:none;
  padding:2px 5px 2px 5px;
  border:solid 1px black;
  margin-left:5px;
  color:black;
  background-color:#CCCCCC;
  border-radius:5px;
  font-size:12px;
}

td > a:hover , td > a:active, .pgeBtn:hover, .pgeBtn:active,  .gridButton:hover, .gridButton:active{
  background-color:#DDDDDD;
}



.pop_hide, .hidden_pannel{
   display:none;
}

 .VIC {
  background-color:#BBFFBB;
  color:black;
  font-weight:bold;
  
}
.LOS{
background-color:#FFBBBB;
  color:grey;
}

.result_1{
 background-color:#d4af37;
 }
 
 .result_2{
 background-color:#c0c0c0;
 }
 
 .result_3{
 background-color:#cd7f32;
 }
