.flyer {
 display:block;
 width=100%;
 max-width:800px;
 margin: 0 auto 0 auto;
 padding:1em;
}

.strong {
 font-weight:bold;
}

.f_info {
   display:block;
   margin-bottom:1em;
}

.f_title {
 display:block;
 border:solid 3px grey;
 width:calc(100% - 6px);
 text-align:center;
 padding:1em 0 1em 0;
 font-weight:bold;
 color:red;
 margin-bottom:2em;
}

.f_i_ti{
  display:inline-block;
  width:20%;
  min-width:100px;
 font-weight:bold;
 vertical-align:top;
}

.f_i_tx{
  display:inline-block;
  width:calc(80% - 1em);
 vertical-align:top;
}

.f_g_info {
  display:inline-block;
  margin-top:2em;
  margin-bottom:1em;
}

.t_prog{
    display:block;
    width:100%;
 border: 1px black solid; 
 border-collapse: collapse;
    
}

.t_prog  td,
.t_prog  th{
 width:1%;
 border: 1px black solid; 
 padding:0.5em;
}

.m_b {
display:block; 
max-width:400px;
margin: 10px auto 0 auto;
}
.m_b_t {
display:block; 
font-weight:bold;
 margin-top:10px;
}

.m_b > a {
  display:block; 
  text-decoration:none;
  padding:5px;
  border:solid 1px black;
  margin-bottom:5px;
  color:black;
  background-color:#CCCCCC;
  border-radius:5px;
  
}




.m_b > a:hover , .m_b > a:active{
  background-color:#DDDDDD;
}


.band{
   display:block;
    padding-bottom:10px;
   
   background-color:#DDDDDD;
}

.b_closed {
   max-height:25px;
   overflow:hidden;
   padding-bottom:0px;
 }

.b_title {
    display:block;
    height:25px;
    background-color:pink;
}


